{% extends "account/account_base.html" %}

{% block title %}
Đã gửi kích hoạt tài khoản
{% endblock title %}

{% block content %}

        <div class="container">

        <div class="card shadow-sm">

                <h4 class="card-header">Đã gửi kích hoạt tài khoản</h4>

                <div class="card-body">
                        <div class="alert alert-success font-weight-bold text-dark text-center">

                            Vui lòng xác nhận địa chỉ email của bạn để hoàn tất đăng ký.
                            <br >
                            Chúng tôi đã gửi cho bạn một email để xác nhận địa chỉ email của bạn.
                            Vui lòng kiểm tra hộp thư đến và thư mục thư rác.
                        </div>
                    <hr />
                    <div class="text-center font-weight-bold">
                      <a class="small text-info" href="{% url 'blog:home' %}">
                          Trang chủ
                      </a>
                    </div>
                </div>
            </div>
    </div>
{% endblock content %}