{% extends "account/account_base.html" %}

{% block title %}
Tài khoản đã được tạo thành công
{% endblock title %}

{% block content %}

        <div class="container">

        <div class="card shadow-sm">

                <h4 class="card-header">Tài khoản đã được tạo thành công</h4>

                <div class="card-body">
                        <div class="alert alert-success font-weight-bold text-dark text-center">

                            Vui lòng đăng nhập
                            <br >
                            Chào mừng bạn đến với Shuyi Blog
                        </div>
                    <hr />
                    <div class="text-center font-weight-bold">
                      <a class="small text-info" href="{% url 'blog:home' %}">
                          Trang chủ
                      </a>
                    </div>
                </div>
            </div>
    </div>
{% endblock content %}