{% extends 'account/account_base.html' %}

{% block title %}
    Đăng xuất
{% endblock title %}

{% block content %}
        <div class="container">

        <div class="card shadow-sm">

                <h4 class="card-header">Đã đăng xuất thành công</h4>

                <div class="card-body">
                        <div class="alert alert-success text-dark text-center">
                            Bạn đã đăng xuất thành công. <br>
                            Bạn có thể tiếp tục và Đăng nhập lại.
                        </div>
                        <a class="btn btn-info float-right"
                           href="{% url 'blog:login' %}">Đăng nhập tại đây</a>
                </div>
            </div>
    </div>

{% endblock content %}