{% extends "account/account_base.html" %}

{% block title %}
    Đặt lại mật khẩu thành công
{% endblock title %}

{% block content %}
    <div class="container">

        <div class="card shadow-sm">

                <h4 class="card-header">Đặt lại mật khẩu thành công</h4>

                <div class="card-body">
                        <div class="alert alert-success text-dark text-center">
                            Mật khẩu của bạn đã được thiết lập. <br>
                            Bạn có thể tiếp tục và Đăng nhập ngay bây giờ.
                        </div>
                    <hr />
                        <a class="btn btn-info float-right"
                           href="{% url 'blog:login' %}">Đăng nhập</a>
                </div>
            </div>
    </div>

{% endblock content %}