{% extends "dashboard/dashboard_base.html" %}
{% load static %}

{% block title %}
  Tạo bài viết
{% endblock title %}

{% block stylesheets %}
     {{ block.super }}
        <link href="{% static 'dashboard/author/css/dashboard.css' %}" rel="stylesheet" />
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
        <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% endblock stylesheets %}

{% block content %}

    <div class="container">
        <div class="content-section">

            <div class="card shadow-sm mb-3 w-100">

            <h4 class="card-header">Viết một bài viết mới</h4>

            <div class="card-body">
                    <form method="POST" action="{% url 'blog:article_write' %}" id="articleForm" enctype="multipart/form-data"
                          novalidate>
                        {% csrf_token %}
                              <div class="form-group">
                                <label for="articleTitle">Tiêu đề bài viết *</label>
                                    <h6 class="text-danger">{{ article_create_form.title.errors }}</h6>
                                    {{ article_create_form.title }}
                              </div>
                              <div class="form-group">
                                <label for="articleCategory">Chọn danh mục *</label>
                                  <h6 class="text-danger">{{ article_create_form.category.errors }}</h6>
                                    {{ article_create_form.category }}
                              </div>
                              <div class="form-group">
                                <label for="articleImage">Tải lên hình ảnh bài viết *</label>
                                  <h6 class="text-danger">{{ article_create_form.image.errors }}</h6>
                                    {{ article_create_form.image }}
                              </div>
                              <div class="form-group">
                                <label for="image_credit">Phần giới thiệu cho hình ảnh*</label>
                                    <h6 class="text-danger">{{ article_create_form.image_credit.errors }}</h6>
                                    {{ article_create_form.image_credit }}
                              </div>
                              <div class="form-group">
                                  <label for="article-content">Nội dung*</label>
                                  <h6 class="text-danger">{{ article_create_form.body.errors }}</h6>
                                  {{ article_create_form.body }}
                              </div>
                              <div class="form-group">
                                <label for="articleTags">Nhập thẻ *</label>
                                  <h6 class="text-danger">{{ article_create_form.tags.errors }}</h6>
                                   {{ article_create_form.tags }}

                              <small id="hint_id_tags" class="form-text text-muted">
                                Danh sách các thẻ được phân tách bằng dấu phẩy.</small>
                              </div>
                              <div class="form-group">
                                <label for="articleImage">Trạng thái*</label>
                                  <h6 class="text-danger">{{ article_create_form.status.errors }}</h6>
                                   {{ article_create_form.status }}
                              </div>
                            <div class="form-group float-right">
                                <button type="reset" class="btn btn-danger">Đặt lại tất cả</button>
                                <button class="btn btn-dark" name="action"
                                        value="SAVE_AS_DRAFT" type="submit">LƯU LÀM BẢN THẢO</button>

                                <button class="btn btn-primary" name="action" value="PUBLISH"
                                        type="submit">XUẤT BẢN</button>
                            </div>
                    </form>
            </div>
            </div>
        </div>
    </div>

{% endblock content %}
