{% extends 'dashboard/dashboard_base.html' %}
{% load static %}
{% load only_hours %}

{% block title %}
    Trang chủ
{% endblock %}

{% block stylesheets %}
     {{ block.super }}
        <link href="{% static 'dashboard/author/css/dashboard-article.css' %}" rel="stylesheet" />
{% endblock stylesheets %}

{% block content %}
       <div class="container-fluid">
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="widget">
                                    <div class="widget-body">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="state">
                                                <h6>Các bài viết đã viết</h6>
                                                <h2>{{ total_articles_written }}</h2>
                                            </div>
                                            <div class="icon">
                                                <i class="ik ik-edit-2"></i>
                                            </div>
                                        </div>
                                        <small class="text-small mt-10 d-block">Tổng số bài viết đã viết</small>
                                    </div>
                                    <div class="progress progress-sm">
                                        <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="widget">
                                    <div class="widget-body">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="state">
                                                <h6>Các bài viết đã đăng</h6>
                                                <h2>{{ total_articles_published }}</h2>
                                            </div>
                                            <div class="icon">
                                                <i class="ik ik-layers"></i>
                                            </div>
                                        </div>
                                        <small class="text-small mt-10 d-block">Tổng số bài viết đã đăng</small>
                                    </div>
                                    <div class="progress progress-sm">
                                        <div class="progress-bar bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="widget">
                                    <div class="widget-body">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="state">
                                                <h6>Số lượt xem</h6>
                                                <h2>{{ total_articles_views }}</h2>
                                            </div>
                                            <div class="icon">
                                                <i class="ik ik-eye"></i>
                                            </div>
                                        </div>
                                        <small class="text-small mt-10 d-block">Tổng số lượt xem cho tất cả các bài viết</small>
                                    </div>
                                    <div class="progress progress-sm">
                                        <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="widget">
                                    <div class="widget-body">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="state">
                                                <h6>Nhận xét</h6>
                                                <h2>{{ total_articles_comments }}</h2>
                                            </div>
                                            <div class="icon">
                                                <i class="ik ik-message-square"></i>
                                            </div>
                                        </div>
                                        <small class="text-small mt-10 d-block">Tổng số nhận xét cho tất cả bài viết</small>
                                    </div>
                                    <div class="progress progress-sm">
                                        <div class="progress-bar bg-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="page-header">
                            <div class="row align-items-end">
                                <div class="col-lg-8">
                                    <div class="page-header-title">
                                        <i class="ik ik-trending-up bg-success"></i>
                                        <div class="d-inline">
                                            <h5>Các bài viết gần đây</h5>
                                            <span>Danh sách các bài viết đã đăng gần đây của bạn.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <h1 class="h3 mb-0 text-gray-800"></h1>
                                    <a
                                      href="{% url 'blog:home' %}" target="_blank"
                                      class="d-none d-sm-inline-block btn float-sm-right btn-sm btn-primary shadow-sm "
                                      ><i class="fas fa-paper-plane fa-sm text-white-50 "></i> Ghé thăm Website</a>
                                </div>
                            </div>
                        </div>


       <!-- Content Row -->
         <div class="container mb-3">
            <div class="row">
                <div class="col-md-12">
                        <div class="card shadow-sm">
                            <div class="card-header">
                                <h4 class="title">Các bài viết đã đăng gần đây</h4>
                            </div>
                          <div class="card-body">
                            <div class="content">
                    <section class="blog-list px-3 py-5 p-md-5">
                     {% if recent_published_articles_list %}
                            <div class="container">
                           {% for article in recent_published_articles_list  %}
                                <div class="item mb-5">
                                    <div class="media">
                                        <img class="mr-3 img-fluid post-thumb d-none d-md-flex" src="{{ article.image.url }}" alt="image">
                                        <div class="media-body">
                                            <h3 class="title mb-1"><a href="{% url 'blog:dashboard_article_detail' slug=article.slug %}">{{ article.title }}</a></h3>
                                            <div class="meta mb-1"><span class="date"><b>Published:</b>  <i>{{ article.date_published|timesince|upto:',' }} ago</i></span>
                                                <span class="time">{{ article.count_words }} word{{ article.count_words|pluralize }}</span>
                                                <span class="time">{{ article.read_time }} min{{ article.read_time|pluralize }} read</span>
                                                <span class="comment">{{ article.views }} view{{ article.views|pluralize }}</span>
                                                <span class="comment"><a href="#">{{ article.comments.count }} comment{{ article.comments.count|pluralize }}</a></span>
                                                <span class="time">
                                                <i class="fas fa-chevron-down" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                </i>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" href="{% url 'blog:article_update' slug=article.slug %}">Chỉnh sửa bài viết</a>
                                                    <div class="dropdown-divider w-100" ></div>
                                                    <a data-toggle="modal" data-target="#deleteModal" class="dropdown-item" href="javascript:void(0)">Xóa bài viết</a>
                                                </div>
                                              </span>
                                            </div>
                                            <a class="more-link" href="{% url 'blog:dashboard_article_detail' slug=article.slug %}">Xem chi tiết &rarr;</a>
                                          <hr class="solid"><!-- Solid divider -->
                                        </div><!--//media-body-->
                                    </div><!--//media-->
                                </div><!--//item-->
                                  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                      <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                          <div class="modal-header">
                                              <h5 class="modal-title" id="exampleModalLabel"><b>Sẵn sàng xóa bài viết?</b></h5>
                                            <button
                                              class="close"
                                              type="button"
                                              data-dismiss="modal"
                                              aria-label="Close"
                                            >
                                              <span aria-hidden="true">×</span>
                                            </button>
                                          </div>
                                          <div class="modal-body">
                                            Chọn "Xóa bài viết" bên dưới nếu bạn muốn xóa bài viết.
                                          </div>
                                          <div class="modal-footer">
                                            <button
                                              class="btn btn-secondary"
                                              type="button"
                                              data-dismiss="modal"
                                            >
                                              Hủy bỏ
                                            </button>
                                            <a class="btn btn-danger" href="{% url 'blog:article_delete' slug=article.slug %}">Xóa bài viết</a>
                                          </div>
                                        </div>
                                      </div>
                                </div>
                         {% endfor %}
                            </div>
                     {% else %}
                               <center><div class="alert alert-info"><b>Không có bài viết nào được đăng</b></div></center>
                     {% endif %}
                        </section>

                          </div>
                  <!-- /.container-fluid -->
                <!-- End of Main Content -->
                          </div>
                        </div>
                </div>
            </div>
         </div>
     </div>



{% endblock content %}

